extends ../layout

block content
  .container
    .row
      .col-md-4
        img.media-object(src="/upload/xijiji.jpg", style="width: 160px; height: 180px;")
      .col-md-8
        h4(style="margin: 10px;color: #545e69;font-size: 20px") 席季季
        h4(style="margin: 10px;color: #545e69;font-size: 20px") 北京邮电大学 
        h4(style="margin: 10px;color: #545e69;font-size: 20px") 计算机学院研二
        h4(style="margin: 10px;color: #545e69;font-size: 20px") 应聘前端实习生岗位

    .row(style="background: #dedef8; padding:30px; margin-top:30px")
      .col-md-1
      .col-md-6
        .row(style="background: #fff;")
          h4(style="margin: 30px;color: #545e69;font-size: 24px") 教育背景
          p(style="color: #545e69;font-size: 15px; margin: 15px 30px;") 2015.09 - 至今    北京邮电大学/计算机学院/计算机技术研究生 
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 2011.09 - 2015.06   青岛大学/信息工程学院/软件工程本科生 
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 本科平均成绩：90.78／优秀   全院综合排名第三 获得研究生保送资格

        .row(style="margin-top:30px; background: #fff")
          h4(style="margin: 30px;color: #545e69;font-size: 24px") 所获奖项
          p(style="color: #545e69;font-size: 15px; margin: 15px 30px;") 2015.09 - 至今 获得两次一等奖学金 
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 2011.09 - 2015.06  获得国家奖学金 企业奖学金 校级奖学金多次 获得“山东省优秀毕业生”、“百名优秀学生”、“学习标兵”、“自强之星”等荣誉称号 获得第五届“蓝桥杯”全国软件和信息技术大赛全国三等奖、省一等奖

        .row(style="margin-top:30px; background: #fff")
          h4(style="margin: 30px;color: #545e69;font-size: 24px") 项目经历
          p(style="color: #545e69;font-size: 15px; margin: 15px 30px;") 2016.07-2016.11 在“vipkid美国小学在家上”实习，岗位前端研发实习生。主要项目经历：提测系统、offer系统以及其它一些管理端的需求项目。主要涉及的技术包括nodejs、vue、angularjs、jade、bootstrap等
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 2015.09－2016.07 在研一期间 完成文本分类器当做课程作业，自学前端js、css、html等前端基础知识
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 2011.09 - 2015.06 大学期间 毕业设计是javaweb网站，对mvc模式有一定的了解；曾在无锡印度niit实训，熟悉avaEE、struts2、Spring、Hibernate等，并完成项目作为实训验收结果；参加第五届“蓝桥杯”全国软件和信息技术大赛，获得全国三等奖，对于数据结构、算法有一定的了解。

        .row(style="margin-top:30px; background: #fff")
          h4(style="margin: 30px;color: #545e69;font-size: 24px") 学生工作经历
          p(style="color: #545e69;font-size: 15px; margin: 15px 30px;") 2011.09-2013.09：       青岛大学信息工程学院学生会  副部长
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 主要负责组织学院活动，包括辩论赛、运动会、篮球赛等学院、学校活动 经常参加志愿者活动，比如微尘义卖报纸、社区志愿者等
        
        .row(style="margin-top:30px; background: #fff")
          h4(style="margin: 30px;color: #545e69;font-size: 24px") 关于我
          p(style="color: #545e69;font-size: 15px; margin: 15px 30px;") 我应该是属于一个比较踏实认真的女孩，头脑并不聪明，但比较刻苦。嗯，闲暇的时间比较喜欢运动，看书。
          br
      .col-md-1

      .col-md-3
        .row(style="background: #fff;")
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 联系电话：18810764655
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 邮箱：2470634845@qq.com
          p(style="color: #545e69;font-size: 15px; margin:15px 30px;") 地址：北京市海淀区西土城路10号

        .row(style="margin-top:30px; background: #fff")
          h4(style="margin: 30px;color: #545e69;font-size: 24px") 主要课程
          p(style="color: #545e69;font-size: 15px; margin:30px;") 数据结构，算法设计与分析，java程序设计，计算机组成与结构，计算机网络，c语言程序设计，c++语言程序设计，数据库原理，java企业级开发，数据仓库与数据挖掘，分布式计算环境，计算机通信基础，宽带通信网，现代软件工程等

        .row(style="margin-top:30px; background: #fff")
          h4(style="margin: 30px;color: #545e69;font-size: 24px") 专业技能
          p(style="color: #545e69;font-size: 15px; margin:30px;") 熟悉js、css、html的基础知识
          p(style="color: #545e69;font-size: 15px; margin:30px;") 了解nodejs、angularjs、vue、mongodb、express等
          p(style="color: #545e69;font-size: 15px; margin:30px;") 对数据结构、算法、网络等基本知识有一定的了解
          p(style="color: #545e69;font-size: 15px; margin:30px;") 对前端比较喜欢，很喜欢程序员比较浓厚的技术氛围，喜欢团队合作    
      .col-md-1  
      br  