doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    include ./includes/head
  body(style="background-color: #eee")
    include ./includes/header
    br
   block content
    include ./includes/footer